# 기술 통계량을 계싼하는 함수 정의

In [2]:
test <- read.csv("../Data/test.csv")
head(test)

  A B C D E
1 2 4 4 2 2
2 1 2 2 2 2
3 2 3 4 3 3
4 3 5 5 3 3
5 3 2 4 4 4
6 4 3 3 4 2

In [3]:
tail(test)

    A B C D E
397 2 3 5 2 4
398 4 3 3 2 4
399 2 4 4 2 3
400 2 2 5 2 4
401 2 3 4 2 4
402 2 2 4 2 4

In [4]:
str(test)

'data.frame':	402 obs. of  5 variables:
 $ A: int  2 1 2 3 3 4 3 4 4 4 ...
 $ B: int  4 2 3 5 2 3 4 2 4 2 ...
 $ C: int  4 2 4 5 4 3 4 4 5 4 ...
 $ D: int  2 2 3 3 4 4 2 4 3 2 ...
 $ E: int  2 2 3 3 4 2 2 4 4 3 ...

In [5]:
summary(test)

       A               B               C               D              E
 Min.   :1.000   Min.   :1.000   Min.   :1.000   Min.   :1.00   Min.   :1.000
 1st Qu.:2.000   1st Qu.:2.000   1st Qu.:3.000   1st Qu.:2.00   1st Qu.:3.000
 Median :3.000   Median :3.000   Median :4.000   Median :2.00   Median :4.000
 Mean   :2.734   Mean   :2.908   Mean   :3.622   Mean   :2.51   Mean   :3.386
 3rd Qu.:3.000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:3.00   3rd Qu.:4.000
 Max.   :5.000   Max.   :5.000   Max.   :5.000   Max.   :4.00   Max.   :5.000

In [15]:
# A 컬럼의 최대값, 최소값, 빈도수 구하기

max(test$A)
min(test$A)
table(test$A)

[1] 5

[1] 1

  1   2   3   4   5
 30 133 156  80   3

In [56]:
# 각 컬럼의 빈도수 구하기
for (i in 1:ncol(test)){
    cat(colnames(test)[i], "컬럼의 빈도 분석 결과  ")
    print(table(test[,i]))
    cat("-----------------------\n")
}
# cat 은 테이블네임즈가 출력이 안되서 print 로 table만 출력함
# 옆으로 체크하는 거는 포문 많이쓰고 밑으로 체크하는건 주로 함수로 쌉가능

A 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
-----------------------
B 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
-----------------------
C 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
-----------------------
D 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
-----------------------
E 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
-----------------------

In [61]:
# 각 컬럼의 빈도수의 최대값, 최소값 구하기
for (i in 1:ncol(test)){
    cat(colnames(test)[i], "컬럼의 빈도수의 최대값과 최소값\n")
    vec1 <- (table(test[,i]))
    cat("최대값 : ",max(vec1) ,"최소값 : ",min(vec1),"\n-----------------------\n")
}

A 컬럼의 빈도수의 최대값과 최소값
최대값 :  156 최소값 :  3
-----------------------
B 컬럼의 빈도수의 최대값과 최소값
최대값 :  150 최소값 :  7
-----------------------
C 컬럼의 빈도수의 최대값과 최소값
최대값 :  176 최소값 :  3
-----------------------
D 컬럼의 빈도수의 최대값과 최소값
최대값 :  178 최소값 :  30
-----------------------
E 컬럼의 빈도수의 최대값과 최소값
최대값 :  160 최소값 :  8
-----------------------

In [63]:
help(frequency)

In [67]:
x<- c(1,1,3,4,5)

[1] 1

In [72]:
table(test)

, , C = 1, D = 1, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 1, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  6  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 1, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 1, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 1, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 2, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 2, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  1  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 2, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 2, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 2, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 3, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 3, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 3, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 3, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 3, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 4, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 4, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 4, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 4, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 4, E = 1

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 1, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 1, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 1, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  3  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 1, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 1, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  1  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 2, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 2, E = 2

   B
A    1  2  3  4  5
  1  0 12  0  0  0
  2  0  0  0  0  0
  3  1  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 2, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 2, E = 2

   B
A    1  2  3  4  5
  1  0  0  3  0  0
  2  0  0  1  1  0
  3  0  0  1  1  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 2, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  7  0
  3  0  0  0  1  0
  4  0  1  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 3, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 3, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  2  0  6  0
  5  0  0  0  0  0

, , C = 3, D = 3, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  1  1  6  0  0
  5  0  0  0  0  0

, , C = 4, D = 3, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  8  0
  3  0  1  2  6  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 3, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  6  0  0
  5  0  0  0  0  0

, , C = 1, D = 4, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 4, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 4, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  1  0  0
  5  0  0  0  0  0

, , C = 4, D = 4, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 4, E = 2

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  6  0  0
  5  0  0  0  0  0

, , C = 1, D = 1, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 1, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  1  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 1, E = 3

   B
A    1  2  3  4  5
  1  0  6  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 1, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 1, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 2, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 2, E = 3

   B
A    1  2  3  4  5
  1  0  0  1  0  0
  2  0  1  0  0  0
  3  0  6  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 2, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  7  0  0
  3  0  0  0  3  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 2, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  7  0  6  0
  3  0  7  6  2  0
  4  0  1  1  4  0
  5  0  0  0  0  0

, , C = 5, D = 2, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  3  0
  4  0  0  0  3  0
  5  0  0  0  0  0

, , C = 1, D = 3, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 3, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  1  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 3, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 3, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  7  1  0
  3  0  0  0  6  1
  4  0  0  0  2  1
  5  0  0  0  0  0

, , C = 5, D = 3, E = 3

   B
A    1  2  3  4  5
  1  0  0  1  0  0
  2  0  6  0  0  0
  3  0  0  0  0  1
  4  0  0  0  1  0
  5  0  0  0  0  0

, , C = 1, D = 4, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 4, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 4, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  1  6  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 4, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  0  0  0
  4  0  0  0  1  0
  5  0  0  0  0  0

, , C = 5, D = 4, E = 3

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  1  0
  5  0  0  0  0  0

, , C = 1, D = 1, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 1, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  7  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 1, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 1, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  1  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 1, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  1  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 2, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 2, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  6  2  0  0
  3  0  3  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 2, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  3
  2  1  0  0  0  0
  3  0  0  0  2  0
  4  0  0  6  0  0
  5  0  0  0  0  0

, , C = 4, D = 2, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  8  7  2  0
  3  0 11  3  2  0
  4  0  6  0  1  0
  5  0  0  0  0  0

, , C = 5, D = 2, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  6  6  0  0
  3  0  0  0  3  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 3, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 3, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  0  5  0
  4  0  0  1  0  0
  5  0  0  0  0  0

, , C = 3, D = 3, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  1  6  0  2  0
  4  0  0  1  0  0
  5  0  0  0  0  0

, , C = 4, D = 3, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  2  0 11  1
  3  1 17  1  2  0
  4  0  0  1  0  0
  5  0  0  0  0  0

, , C = 5, D = 3, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  1  0
  2  0  3  0  1  0
  3  0  0  0  0  0
  4  0  0  0  1  0
  5  0  0  3  0  0

, , C = 1, D = 4, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 4, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 4, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  1  0
  4  0  1  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 4, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  3  1  0
  4  0  2  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 4, E = 4

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  1  0  0
  5  0  0  0  0  0

, , C = 1, D = 1, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 1, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 1, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  1  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 1, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 1, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 2, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 2, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 2, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  1  0  0  0
  5  0  0  0  0  0

, , C = 4, D = 2, E = 5

   B
A    1  2  3  4  5
  1  1  0  0  0  0
  2  0  0  0  1  0
  3  0  0  0  6  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 2, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  1  1  0
  5  0  0  0  0  0

, , C = 1, D = 3, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 3, E = 5

   B
A    1  2  3  4  5
  1  0  1  0  0  0
  2  0  0  2  0  0
  3  4  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 3, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  4  0  0
  5  0  0  0  0  0

, , C = 4, D = 3, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  2  0  0
  3  0  2  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 3, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  6  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 1, D = 4, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 2, D = 4, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  1  0
  3  0  0  0  0  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 3, D = 4, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  1  0
  4  0  0  0  6  0
  5  0  0  0  0  0

, , C = 4, D = 4, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  1  0
  4  0  0  0  0  0
  5  0  0  0  0  0

, , C = 5, D = 4, E = 5

   B
A    1  2  3  4  5
  1  0  0  0  0  0
  2  0  0  0  0  0
  3  0  0  0  3  0
  4  0  0  1  0  0
  5  0  0  0  0  0

In [75]:
# 각 컬럼의 빈도수 구하기와 각 컬럼의 빈도수의 최대값, 최소값 구하는 함수 만들기

tableMaxMin <- function(x){
    for (i in 1:ncol(x)){
    cat(colnames(x)[i], "컬럼의 빈도 분석 결과  ")
    print(table(x[,i]))
    cat("-----------------------\n")
    }
    for (i in 1:ncol(test)){
    cat(colnames(test)[i], "컬럼의 빈도수의 최대값과 최소값\n")
    vec1 <- (table(test[,i]))
    cat("최대값 : ",max(vec1) ,"최소값 : ",min(vec1),"\n-----------------------\n")
    }
}

In [76]:
tableMaxMin(test)

A 컬럼의 빈도 분석 결과
  1   2   3   4   5
 30 133 156  80   3
-----------------------
B 컬럼의 빈도 분석 결과
  1   2   3   4   5
 16 150  98 131   7
-----------------------
C 컬럼의 빈도 분석 결과
  1   2   3   4   5
  3  74  72 176  77
-----------------------
D 컬럼의 빈도 분석 결과
  1   2   3   4
 30 178 153  41
-----------------------
E 컬럼의 빈도 분석 결과
  1   2   3   4   5
  8  81 107 160  46
-----------------------